<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= vehicle.type %> - <%= vehicle.serialNumber %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= vehicle.type %> - <%= vehicle.serialNumber %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Last Updated <%= new Date(vehicle.updatedAt).toUTCString() %> </b>
      <b>Vehicle ID:</b> <%= vehicle._id %>
    </div>
  </div>

</div>

<ul class="list-group">

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Type:</b></div>
      <div class="col"><%= vehicle.type %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Capacity:</b></div>
      <div class="col"><%= vehicle.capacity %></div>
    </div>
  </li>

  <!-- Add more details specific to vehicles here -->

</ul>
